<% include functions.ejs %>
<!doctype html>
<html lang="en">
<head>
    <title>OWeek Info</title>
    <link rel="stylesheet" href="../css/table.css" type="text/css">
    <link rel="stylesheet" href="../css/misc.css" type="text/css">
</head>
<body>
<% outputNavigationButtons(isAdmin) %>
<div class="container">
    <% outputFilterButtons(isAdmin) %>
    <% if (prevPage > -1){ %>
        <form action="<%= actionPath %>" method="get" style="float: left;">
            <input type="submit" name="prevPage" value="<%= prevPage %>"
                   class="btn btn-default btn-sm"/>
        </form>
    <% } %>
    <% if (nextPage > 0){ %>
        <form action="<%= actionPath %>" method="get" style="float:right;">
            <input type="submit" name="nextPage" value="<%= nextPage %>"
                   class="btn btn-default btn-sm"/>
        </form>
    <% } %>
    <% var entries = JSON.parse(wufoo) %>
    <div style="float:right">Rows: <%= entries.length %></div>
    <%outputSearchFields(fields, headings, operators)%>
</div>
<br>
<% outputRegistrationInfoTable(entries, fields, headings, groupNumbers) %>
</body>
</html>
