<!-- views/users.ejs -->
<!doctype html>
<html>
<head>
    <title>OWeek Info</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <style>
        body {
            padding-top: 80px;
        }
    </style>
</head>
<body>
<div class="page-header text-center">
    <h1><span class="fa"></span>Groups</h1>
    <a href="/assign" class="btn btn-default btn-sm">Run Auto Assign</a>
</div>
<div class="container">
    <div style="position: relative;">
        <div style="float: right; display: inline; padding-right: 10px;"><a href="/logout"
                                                                            class="btn btn-default btn-sm">Logout</a>
        </div>
    </div>
    <div class="col-sm-6 col-sm-offset-3">
        <% for (var i in groups){ %>
            <form action="/onegroup" id="group_form" method="post">
                <h2>Group <%= groups[i].groupNumber + 1 %></h2>
                Men: <%= groups[i].menCount %>
                Women: <%= groups[i].womenCount %>
                Total: <%= groups[i].totalCount %><br>
                <button type="submit" value="<%= groups[i].groupNumber %>" name="groupNumber">View</button>
            </form>
        <% } %>
    </div>

</div>
</body>
</html>