<% include functions.ejs %>
<!doctype html>
<html lang="en">
<head>
    <title>OWeek Info</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/table.css" type="text/css">
    <link rel="stylesheet" href="../css/misc.css" type="text/css">
</head>
<body>
<% outputNavigationButtons(true) %>
<div id="buttonDiv">
    <button onclick="location.href='/filter'" class="btn btn-default btn-sm">All</button>
</div>
<div class="page-header text-center">
    <h1><span class="fa"></span>Group <%= groupData.groupNumber + 1 %></h1>
</div>
<br>
Men: <%= groupData.menCount %>
Women: <%= groupData.womenCount %>
Total: <%= groupData.totalCount %><br>
<table id="entryTable">
    <% for (var eachField in fields){ %>
        <% if (fields.hasOwnProperty(eachField)){ %>
            <% if (eachField === "payStatus"){ %>
                <th><%= headings.paymentMethod %></th>
                <th><%= headings.payStatus %></th>
            <% } else { %>
                <th><%= headings[eachField] %></th>
            <% } %>
        <% } %>
    <% } %>
    <% for (var i in peopleInGroup){ %>
        <% if (peopleInGroup.hasOwnProperty(i)){ %>
            <% var eachEntry = peopleInGroup[i] %>
            <tr>
                <% for (var valKey in eachEntry){ %>
                    <% if (eachEntry.hasOwnProperty(valKey)){ %>
                        <% for (var field in fields){ %>
                            <% if (valKey === fields.payOnline || valKey === fields.payMail || valKey === fields.payPerson){ %>
                                <% break; %>
                            <% } %>
                            <% if(fields.hasOwnProperty(field) && valKey === fields[field]){ %>
                                <% if (valKey === fields.payStatus && eachEntry.hasOwnProperty(valKey) && eachEntry[valKey] === null){ %>
                                    <td>Unpaid</td>
                                <% } else { %>
                                    <td><%= eachEntry[valKey] %></td>
                                <% } %>
                            <% } %>
                        <% } %>
                        <% if (valKey === fields.payPerson && eachEntry.hasOwnProperty(valKey) && eachEntry[valKey] === "Yes"){ %>
                            <td>In person</td>
                        <% } %>
                        <% if (valKey === fields.payMail && eachEntry.hasOwnProperty(valKey) && eachEntry[valKey] === "Yes"){ %>
                            <td>By mail</td>
                        <% } %>
                        <% if (valKey === fields.payOnline && eachEntry.hasOwnProperty(valKey) && eachEntry[valKey] === "Yes"){ %>
                            <td>Online</td>
                        <% } %>
                    <% } %>
                <% } %>
            </tr>
        <% } %>
    <% } %>
</table>
</div>
</body>
</html>
