<% include functions.ejs %>
<% include assignments.ejs %>
<!doctype html>
<html lang="en">
<head>
    <title>OWeek Info</title>
    <link rel="stylesheet" href="../css/misc.css" type="text/css">
    <link rel="stylesheet" href="../css/list.css" type="text/css">
</head>
<body>
<%
groups = info.groups;
groupMax = info.groupMax;
isAdmin = display.isAdmin;
%>
<% outputNavigationButtons(isAdmin) %>
<div class="page-header text-center">
    <h1><span class="fa"></span>Groups</h1>
    <form action="/assign" method="post">
        <input type="hidden" id="csrf" name="_csrf" value="<%= csrfToken %>">
        <input type="submit" name="autoassign" value="Run Auto Assign" class="btn btn-default btn-sm"/>
    </form>
    <form action="/clear_groups" method="post">
        <input type="hidden" id="csrf" name="_csrf" value="<%= csrfToken %>">
        <input type="submit" name="clear" value="Clear Groups" class="btn btn-default btn-sm"/>
    </form>
    <form action="/update_max_num" method="POST">
        <input type="hidden" id="csrf" name="_csrf" value="<%= csrfToken %>">
        <div class="input-group">
            <label>Maximum Number of Groups<input type="text" class="form-control" name="updatemax"
                                                  value="<%= groupMax %>" aria-label="Max number of groups"
                                                  aria-describedby="basic-addon2">
                <button class="btn btn-default btn-sm" id="updateMaxBut" type="submit">
                    <i class="fas fa-cart-plus mr-2"></i>Update
                </button>
            </label>
        </div>
    </form>
</div>
<div id="horizontal_list">
    <ul>
        <% for (var i in groups){ %>
            <% if (groups.hasOwnProperty(i)){ %>
                <li>
                    <form action="/one_group" id="group_form" method="post">
                        <input type="hidden" id="csrf" name="_csrf" value="<%= csrfToken %>">
                        <h2>Group <%= groups[i].groupNumber + 1 %></h2>
                        Men: <%= groups[i].menCount %>
                        Women: <%= groups[i].womenCount %>
                        Total: <%= groups[i].totalCount %><br>
                        <button type="submit" value="<%= groups[i].groupNumber %>" name="groupNumber">View
                        </button>
                    </form>
                </li>
            <% } %>
        <% } %>
    </ul>
</div>
</body>
</html>