<% include functions.ejs %>
<!doctype html>
<html lang="en">
<head>
    <title>OWeek Info</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/table.css" type="text/css">
    <link rel="stylesheet" href="../css/misc.css" type="text/css">
</head>
<body>
<% outputNavigationButtons(isAdmin) %>
<div class="container">
    <div class="page-header text-center">
        <% outputFilterButtons(isAdmin) %>
    </div>
    <form action="/search" method="get" style="display: inline;">
        <label>
            <select name="field">
                <!-- use the key as the value - key is english, value is wufoo API query version-->
                <% for (var fieldKey in fields){ %>
                    <% if (fields.hasOwnProperty(fieldKey)){ %>
                        <option value="<%= fieldKey %>"><%= headings[fieldKey] %></option>
                    <% } %>
                <% } %>
            </select>
        </label>
        <label for="operator"></label><select id="operator" name="operator">
            <!-- use the key as the value - key is english, value is wufoo API query version-->
            <% for (var opKey in operators){ %>
                <% if (operators.hasOwnProperty(opKey)){ %>
                    <option value="<%= opKey %>"><%= opKey %></option>
                <% } %>
            <% } %>
        </select>
        <label for="value"></label><input id="value" type="text" name="value">
        <input type="submit" value="OK">
        <% var entries = JSON.parse(wufoo) %>
        <div style="float:right">Rows: <%= entries.length %></div>
    </form>
    <form action="/netid" style="display: inline; padding-left: 50px;">
        <input type="search" id="netid_search" name="netid_search" placeholder="NetID">
        <button>Search</button>
    </form>
</div>
<br>
<table id="entryTable">
    <th>Group Number</th>
    <% for (var eachField in fields){ %>
        <% if (fields.hasOwnProperty(eachField)){ %>
            <% if (eachField === "payStatus"){ %>
                <th><%= headings.paymentMethod %></th>
                <th><%= headings.payStatus %></th>
            <% } else { %>
                <th><%= headings[eachField] %></th>
            <% } %>
        <% } %>
    <% } %>
    <% for (var i in entries){ %>
        <% if (entries.hasOwnProperty(i)){ %>
            <% var eachEntry = entries[i] %>
            <tr>
                <td><%= groupNumbers[eachEntry.EntryId] + 1/*entry ID is key for the groupNum*/ %></td>
                <% for (var valKey in eachEntry){ %>
                    <% if (eachEntry.hasOwnProperty(valKey)){ %>
                        <% for (var field in fields){ %>
                            <% if (valKey === fields.payOnline || valKey === fields.payMail || valKey === fields.payPerson){ %>
                                <% break; %>
                            <% } %>
                            <% if(fields.hasOwnProperty(field) && valKey === fields[field]){ %>
                                <% if (valKey === fields.payStatus && eachEntry.hasOwnProperty(valKey) && eachEntry[valKey] === null){ %>
                                    <td>Unpaid</td>
                                <% } else { %>
                                    <td><%= eachEntry[valKey] %></td>
                                <% } %>
                            <% } %>
                        <% } %>
                        <% if (valKey === fields.payPerson && eachEntry.hasOwnProperty(valKey) && eachEntry[valKey] === "Yes"){ %>
                            <td>In person</td>
                        <% } %>
                        <% if (valKey === fields.payMail && eachEntry.hasOwnProperty(valKey) && eachEntry[valKey] === "Yes"){ %>
                            <td>By mail</td>
                        <% } %>
                        <% if (valKey === fields.payOnline && eachEntry.hasOwnProperty(valKey) && eachEntry[valKey] === "Yes"){ %>
                            <td>Online</td>
                        <% } %>
                    <% } %>
                <% } %>
            </tr>
        <% } %>
    <% } %>
</table>
</div>
</body>
</html>
