<!-- views/filter.ejs -->
<!doctype html>
<html>
<head>
    <title>Orientation Week Registration</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/table.css" type="text/css">
    <style>
        body {
            padding-top: 80px;
            word-wrap: break-word;
        }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa"></span>Registration Information</h1>
        <a href="/allergies" class="btn btn-default btn-sm">Allergies</a>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>
    <table id="entryTable">
        <% var wufooJson = JSON.parse(wufoo); %>
        <% var entries = wufooJson['Entries']; %>
        <tr>
            <% for (var key in entries[0]){ %>
            <% var output = key; %>
            <% for (var eachKey in queryConstants.fields){ %>
            <% if (queryConstants.fields.hasOwnProperty(eachKey) && queryConstants.fields[eachKey] === key){ %>
            <% output = eachKey %>queryConstants.fields.hasOwnProperty(eachKey)
            <% } %>
            <% } %>
            <th><%= output %></th>
            <% } %>
        </tr>
        <tr>
            <% for (var entry in entries){ %>
            <% var obj = entries[entry] %>
            <% for (var valKey in obj){ %>
            <td><%= obj[valKey] %></td>
            <% } %>
            <% } %>
        </tr>
    </table>

    <form action="/search" method="get">
        <select name="field">
            <!-- use the key as the value - key is english, value is wufoo API query version-->
            <% for (var fieldKey in queryConstants.fields){ %>
            <option value="<%= fieldKey %>"><%= fieldKey %></option>
            <% } %>
        </select>
        <select name="operator">
            <!-- use the key as the value - key is english, value is wufoo API query version-->
            <% for (var opKey in queryConstants.operators){ %>
            <option value="<%= opKey %>"><%= opKey %></option>
            <% } %>
        </select>
        <input id="value" type="text" name="value">
        <input type="submit" value="OK">
    </form>

</div>
</body>
</html>
