<!-- views/filter.ejs -->
<!doctype html>
<html>
<head>
    <title>OWeek Info</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/table.css" type="text/css">
    <style>
        body {
            padding-top: 80px;
            word-wrap: break-word;
        }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa"></span>Registration Information</h1>
        <a href="/allergies" class="btn btn-default btn-sm">Allergies</a>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <form action="/search" method="get">
        <select name="field">
            <!-- use the key as the value - key is english, value is wufoo API query version-->
            <% for (var fieldKey in fields){ %>
            <% if (fields.hasOwnProperty(fieldKey)){ %>
            <option value="<%= fieldKey %>"><%= fieldKey %></option>
            <% } %>
            <% } %>
        </select>
        <select id="operator" name="operator">
            <!-- use the key as the value - key is english, value is wufoo API query version-->
            <% for (var opKey in operators){ %>
            <% if (operators.hasOwnProperty(opKey)){ %>
            <option value="<%= opKey %>"><%= opKey %></option>
            <% } %>
            <% } %>
        </select>
        <input id="value" type="text" name="value">
        <input type="submit" value="OK">
    </form>
    <br>
    <table id="entryTable">
        <% var wufooJson = JSON.parse(wufoo); %>
        <% var entries = wufooJson['Entries']; %>
        <tr>
            <% for (var key in entries[0]){ %>
            <% if (entries[0].hasOwnProperty(key)){ %>
            <% var output = "dont_add"; %>
            <% for (var eachKey in fields){ %>
            <% if (fields.hasOwnProperty(eachKey) && fields[eachKey] === fields.payOnline) { %>
            <% break; %>
            <% } %>
            <% if (fields.hasOwnProperty(eachKey) && fields[eachKey] === key) { %>
            <% output = headings[eachKey] %>
            <% } %>
            <% } %>
            <% if (output !== "dont_add"){ %>
            <th><%= output %></th>
            <% } %>
            <% } %>
            <% } %>
            <th><%= headings.payment %></th>
        </tr>
        <% for (var entry in entries){ %>
        <% if (entries.hasOwnProperty(entry)){ %>
        <% var obj = entries[entry] %>
        <tr>
            <% for (var valKey in obj){ %>
            <% if (obj.hasOwnProperty(valKey)){ %>
            <% for (var eachField in fields){ %>
            <% if (valKey === fields.payOnline || valKey === fields.payMail || valKey === fields.payPerson){ %>
            <% break; %>
            <% } %>
            <% if(fields.hasOwnProperty(eachField) && valKey === fields[eachField]){ %>
            <td><%= obj[valKey] %></td>
            <% } %>
            <% } %>
            <% } %>
            <% if (valKey === fields.payPerson && obj.hasOwnProperty(valKey) && obj[valKey] === "Yes"){ %>
            <td>In person</td>
            <% } %>
            <% if (valKey === fields.payMail && obj.hasOwnProperty(valKey) && obj[valKey] === "Yes"){ %>
            <td>By mail</td>
            <% } %>
            <% if (valKey === fields.payOnline && obj.hasOwnProperty(valKey) && obj[valKey] === "Yes"){ %>
            <td>Online</td>
            <% } %>
            <% } %>
        </tr>
        <% } %>
        <% } %>
    </table>
</div>
</body>
</html>
